<!---------Thống kê---------->
<div class="card border-0 site-visit card-style-one" id="site-visit">
    <div class="card-header rounded-0">
        THỐNG KÊ TRUY CẬP
    </div>
    <div class="card-body pl-0 pt-1 pb-0 pr-0 mb-2">
        <p>Hôm nay: <span id="SiteVisit_DateNow"></span></p>
        <p>Hôm qua: <span id="SiteVisit_Yesterday"></span></p>
        <p>Trong tuần: <span id="SiteVisit_DateOfWeek"></span></p>
        <p>Trong tháng: <span id="SiteVisit_DateOfMonth"></span></p>
        <p>Tất cả: <span id="SiteVisit_Total"></span></p>
    </div>
</div>