<div class="row menu-footer ">
    <div class="col-12 col-md-6 pb-3">
        <div class="clearfix">
            <img src="/uploads/banners/lay-y-kien.png">
            <a class="title-menu-footer" title="Lấy ý kiến dự thảo văn bản" href="/du-thao-van-ban.html">Lấy ý kiến dự thảo văn bản</a>
        </div>
    </div>
    <div class="col-12 col-md-6 imgonright ps-md-0 pb-3">
        <div class="clearfix">
            <img src="/uploads/banners/y-kien-du-thao.png">
            <a class="title-menu-footer" title="Khảo sát" href="/hoi-dap.html">Khảo sát</a>
        </div>
    </div>
    <div class="col-12 col-md-6 pb-3">
        <div class="clearfix">
            <img src="/uploads/banners/duong-day-nong.png">
            <a class="title-menu-footer" title="Phản ánh, kiến nghị, đề xuất" href="/phan-anh-kien-nghi-de-xuat-37.html">Phản ánh, kiến nghị, đề xuất</a>
        </div>
    </div>
    <div class="col-12 col-md-6 imgonright hasnote ps-md-0 pb-3">
        <div class="clearfix">
            <img src="/uploads/banners/chi-dan-thu-tuc.png">
            <a class="title-menu-footer" title="Liên hệ công tác (sở, ngành, đoàn thể)" href="/duong-day-nong-36.html">Liên hệ công tác<span>(sở, ngành, đoàn thể)</span></a>
        </div>
    </div>
</div>