@model API.Areas.Admin.Models.AnToanThongTin.AnToanThongTinModel
@{
    if (Model.Item.Id == 0)
    {
        ViewData["Title"] = "Thêm mới Hỏi Đáp";
    }
    else
    {
        ViewData["Title"] = "Cập nhật Thông tin Hỏi Đáp";
    }
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="card">
    <div class="card-header">
        <h4>@ViewData["Title"]</h4>
    </div>
    <div class="card-body">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-controller="@ControllerName" asp-action="SaveItem" method="post">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Item.Fullname">Họ Tên <sup class="text-danger"> (*)</sup></label>
                        <input type="text" class="form-control" asp-for="Item.Fullname" name="Fullname">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Item.Phone">Điện Thoại</label>
                        <input type="text" class="form-control" asp-for="Item.Phone" name="Phone">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Item.Address">Địa Chỉ</label>
                        <input type="text" class="form-control" asp-for="Item.Address" name="Address">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Item.Email">Email</label>
                        <input type="text" class="form-control" asp-for="Item.Email" name="Email">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input asp-for="Item.Status" name="Status" class="custom-control-input" />
                            <label class="custom-control-label" asp-for="Item.Status">Trạng Thái</label>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Item.CreatedDate">Ngày Gửi</label>
                        <input disabled type="text" class="form-control" asp-for="Item.CreatedDate" name="CreatedDate">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Item.Title">Tiêu đề</label>
                <input type="text" asp-for="Item.Title" name="Title" class="form-control"></input>
            </div>

            <div class="form-group">
                <label asp-for="Item.Introtext">Mô tả ngắn</label>
                <textarea asp-for="Item.Introtext" name="Introtext" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label asp-for="Item.Description">Nội Dung</label>
                <textarea asp-for="Item.Description" id="NoiDung" name="Description" class="form-control"></textarea>
            </div>

            <button type="submit" class="btn btn-primary" name="SaveItem" value="Lưu">
                <i class="fas fa-save"></i> Lưu lại
            </button>
            <a class="btn btn-danger" asp-controller="@ControllerName" asp-action="Index"><i class="fas fa-backward"></i> Quay Lại</a>
            <input type="hidden" class="form-control" asp-for="Item.Id" name="Id">
            <input type="hidden" class="form-control" asp-for="Item.Ids" name="Ids">

        </form>
    </div>
</div>

 @section Scripts{
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/lib/ckeditor/adapters/jquery.js"></script>
    <script>

        var roxyFileman = '/lib/fileman/index.html';
        $(function () {
            CKEDITOR.replace('NoiDung', {
                filebrowserBrowseUrl: roxyFileman,
                filebrowserImageBrowseUrl: roxyFileman + '?type=image',
                removeDialogTabs: 'link:upload;image:upload'
            });
        });
    </script>
    <script>
        function openCustomRoxy() {

            $('#roxyCustomPanel').modal('show');
        }
        function closeCustomRoxy() {
            $('#roxyCustomPanel').modal('hide');
        }

            
    </script>

    <script src="~/js/moment.js"></script>
    <script src="~/js/tempusdominus-bootstrap-4.min.js"></script>
}