# Build results
bin/
obj/

# Visual Studio cache
.vs/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# ASP.NET Core logs
logs/
*.log

# Rider / JetBrains
.idea/

# Publish outputs
wwwroot/dist/
wwwroot/lib/

# Secret files
appsettings.Development.json
appsettings.Local.json

# Others
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3

# Mac / Linux system files
.DS_Store
*.swp
