<div class="row partial-lien-ket-tin-tuc-cmg-three-two" id="partial-lien-ket-tin-tuc">
    <div class="col-lg-6">
        <div class="partial-lien-ket-tin-tuc-card">
            <div class="partial-lien-ket-tin-tuc-title">
                <a><i class="fas fa-bullhorn"></i> CỔNG THÔNG TIN TỈNH ĐẮK LẮK</a>
            </div>
            <div class="partial-lien-ket-tin-tuc-body">
                <div class="partial-lien-ket-tin-tuc-content" id="site-ctttinhdaklak">
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="partial-lien-ket-tin-tuc-card">
            <div class="partial-lien-ket-tin-tuc-title">
                <a><i class="far fa-newspaper"></i> THÔNG BÁO TỪ HUYỆN M'DRẮK</a>
            </div>
            <div class="partial-lien-ket-tin-tuc-body">
                <div class="partial-lien-ket-tin-tuc-content" id="site-huyenmdrak">
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #site-huyenmdrak, #site-ctttinhdaklak {
        height: 300px;
        overflow: hidden;
    }

    #site-huyenmdrak .partial-lien-ket-tin-tuc-item .fas, #site-ctttinhdaklak .partial-lien-ket-tin-tuc-item .fas {
        font-size: 13px;
    }
</style>