@{
    var ArticleModel = new API.Areas.Admin.Models.Articles.ArticlesModel();
}

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tìm kiếm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body search-bar">
                <form asp-controller="Articles" asp-action="Index" method="get" id="SearchFrorm" class="d-flex">
                    <input type="text" class="flex-grow-1 search-input" asp-for="@ArticleModel.SearchData.Keyword" name="Keyword" placeholder="Tìm kiếm" />
                    <button class="btn btn-primary search-button" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>

            @* <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            ...
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div> *@
        </div>
    </div>
</div>