<div class="owl-carousel owl-theme text-center clients-logo" >
    @for (int i = 0; i < 10; i++) { 
        <div class="item">
            <a href="#">
                <img src="~/Templates/Default/images/w6.png"/>
            </a>
        </div>
    }       
</div>