$color-main: #454545;
$color-main-2: #fce38f;
$bg-main: #FFE6C7;
$bg-image: '../images/bg.jpg';
$bg-footer: #FFE6C7;
$bg-footer-image: '../images/bg-fotter.png';
$bg-menu: #FF6000;
$footer-text: #FF6000;
$color-menu: #fff;
$bg-header-cat: #FF6000;
$color-header-cat: #fff;
$bg-menu-mobile: #fff;
$bg-menu-mobile: #fff;
$icon-header: '../images/title-icon.png';
$bg-menu-footer: #FF6000;
$bg-menu-footer-border: #ffc268;
$bg-menu-footer-border-right: #e4646e;
$thongbao-tieudeh1: #FF6000;
$thongkevanban-tieudeh1: #FF6000;
$bg-stellarnav-mobile: #c05100;
$bg-emc: #EC3237;
$article-items-bg: #FCFCFC;
$bg-copyright: #E86A33;