$color-main: #e04d58;
$color-red: #d60000;
$color-main-2: #fce38f;
$bg-main: #eee;
$bg-image: '../images/bg.jpg';
$bg-footer: #0058c0;
$bg-footer-image: '../images/bg-fotter.png';
$bg-header-image: '../images/header-bg.png';
$bg-menu: #0058c0;
$color-menu: #fff;
$bg-header-cat: #0058c0;
$color-header-cat: #fff;
$bg-menu-mobile: #fff;
$bg-menu-mobile: #fff;
$icon-header: '../images/title-icon.png';
$bg-menu-footer: #005d35;
$bg-menu-footer-border: #da251d;
$bg-menu-footer-border-right: #003605;
$thongbao-tieudeh1: #e04d58;
$thongkevanban-tieudeh1: #e04d58;
$bg-stellarnav-mobile: #c05100;
$bg-emc: #EC3237;
