<!---------Thống kê---------->
<div class="card border-0 card-style-two notification-home" id="site-visit">
    <div class="card-header">
        <h3>
            <a>
                <span>THỐNG KÊ TRUY CẬP</span>
            </a>
        </h3>
    </div>
    
    @* <div class="card-header rounded-0">
        THỐNG KÊ TRUY CẬP
    </div> *@
    <div class="card-body p-3 mb-2">
        <p>Hôm nay: <span id="SiteVisit_DateNow"></span></p>
        <p>Hôm qua: <span id="SiteVisit_Yesterday"></span></p>
        <p>Trong tuần: <span id="SiteVisit_DateOfWeek"></span></p>
        <p>Trong tháng: <span id="SiteVisit_DateOfMonth"></span></p>
        <p>Tất cả: <span id="SiteVisit_Total"></span></p>
    </div>
</div>
