<div class="topheader d-none d-sm-block">
    <ul class="list-inline">
        <li><a href="/home/lang?lang=vi" class="">@Localizer["Vietnamese"]</a></li>
        <li><span class="line-subheader"></span></li>
        <li><a href="/home/lang?lang=en" class="">@Localizer["English"]</a></li>
    </ul>
</div>