@{
    string version = DateTime.Now.ToString("yyyyMMddHH");
}
<div id="botai-tiengiang">
    <iframe loading="lazy"
            id="integrate-iframe"
            scrolling="no"
            src="https://aibot.vnpttiengiang.vn/chat-frame/bd07f8ba-42e6-403d-9f8c-01c97d350390/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiNjVkNDk5ODgtY2MxYy00OTZhLTkzM2MtZjZlMzZmNGE4MGUzIiwicGVybWlzc2lvbnMiOlsiQk9UX01BTkFHRVIiLCJGSUxFX01BTkFHRVIiXSwiZXhwIjozMzQxNjkyMzY0fQ.ENFTGdfMGE4rcIDjXylyA88NNVRH46EudqBcnbzykyI"
            style="width: 100%; border: none; height: 100%; overflow: hidden"
            allow="clipboard-read; clipboard-write; autoplay; encrypted-media; fullscreen; display-capture; microphone">
    </iframe>
</div>