<script src="~/js/SMARTVOICE.min.js"></script>

<div id="tts-player">
    
</div>

<div class="item-page">
    Xin chào các bạn nhé
</div>

@section Scripts{
    <script src="~/js/smartvoice.js"></script>

}
