@model API.Areas.Admin.Models.Search.Search
@{
    ViewData["Title"] = "Chính sách bảo mật";
}
<h2>@ViewData["Title"]</h2>

<p class="" data-action="@Model.Title" data-root="@Model.Alias">Chính sách bảo mật </p>
