@{ 

}

<h1>GoogleMeet</h1>

<iframe src="https://meet.google.com/" title="Google Meet"></iframe>

<iframe src="http://vpubnd.daklak.gov.vn/" title="Google Meet"></iframe>
<iframe src="https://bmtu.edu.vn/" title="Google Meet"></iframe>