@model API.Areas.Admin.Models.DocumentForms.DocumentFormsModel
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json;
@{
	string Domain = "";
	if (Context.Request.IsHttps)
	{
		Domain = "https://" + Context.Request.Host;
	}
	else
	{
		Domain = "http://" + Context.Request.Host;
	}

	string StrThongTinCoQuan = Context.Session.GetString("ThongTinCoQuan");
	API.Areas.Admin.Models.DMCoQuan.DMCoQuan ItemCoQuan = new API.Areas.Admin.Models.DMCoQuan.DMCoQuan();
	ItemCoQuan = JsonConvert.DeserializeObject<API.Areas.Admin.Models.DMCoQuan.DMCoQuan>(StrThongTinCoQuan);

	ViewData["Title"] = (Model.Item.Title);
	ViewData["Description"] = (Model.Item.Metadesc);
	ViewData["Keywords"] = (Model.Item.Metakey);
	ViewData["Url"] = Domain + "/" + Model.Item.Alias + "-" + Model.Item.Id.ToString() + ".html";
	ViewData["Images"] = Domain + Model.Item.Images;


	string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
	string bodyMail = Domain + "/" + Model.Item.Alias + "-" + Model.Item.Id.ToString() + ".html";

}
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v5.0&appId=1511988695606372&autoLogAppEvents=1"></script>
<div class="row PageDetail PageDetail-@Model.Item.Alias" id="PageDetail">

	<div class="col-lg-8">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb bg-white p-0">
				<li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
				<li class="breadcrumb-item"><a asp-controller="DocumentForms" asp-action="Index">Mẫu biểu hành chính</a></li>
				<li class="breadcrumb-item active" aria-current="page">@(@Model.Item.Title)</li>
			</ol>
		</nav>
	</div>
	<div class="col-lg-4 text-right">
	</div>


	<div class="col-md-12 full-text article-content">

		@Html.Raw(Model.Item.Introtext)
	</div>
	@if (Model.Item.Link != null && Model.Item.Link != "")
	{
		<div class="listtailieu">
			<div class="col-md-12">
				@{
					string ex = API.Models.ManagerFiles.ManagerFilesService.GetExtension(Model.Item.Link);
					string url = "";
					if (Context.Request.IsHttps)
					{
						url = "https://" + Context.Request.Host + Model.Item.Link;
					}
					else
					{
						url = "http://" + Context.Request.Host + Model.Item.Link;
					}

					if (ex == ".pdf")
					{
						if (Context.Request.IsHttps)
						{
							<iframe src="https://@Context.Request.Host/pdfviewer/web/viewer.html?file=@url" width="100%" height="600px"></iframe>
						}
						else
						{
							<iframe src="http://@Context.Request.Host/pdfviewer/web/viewer.html?file=@url" width="100%" height="600px"></iframe>
						}

					}
					else if (ex == ".doc" || ex == ".docx" || ex == ".xls" || ex == ".xlsx" || ex == ".pptx" || ex == ".ppt")
					{
						<iframe src="https://view.officeapps.live.com/op/view.aspx?src=@url" style="width:100%;height:600px;"></iframe>
					}
					else
					{

						<a href="@Model.Item.Link" target="_blank"> <i class="fa fa-download" style="margin-right:7px"></i> Tải về</a>
					}
				}
			</div>
		</div>
	}


</div>


@section Scripts{

}