@model API.Areas.Admin.Models.Reviews.ReviewsModel
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@{
    Layout = "Templates/" + Context.Session.GetString("TemplateName") + "/_LayoutNoneCaptcha";    
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();

    string StrThongTinCoQuan = Context.Session.GetString("ThongTinCoQuan");
    API.Areas.Admin.Models.DMCoQuan.DMCoQuan ItemCoQuan = new API.Areas.Admin.Models.DMCoQuan.DMCoQuan();
    ItemCoQuan = JsonConvert.DeserializeObject<API.Areas.Admin.Models.DMCoQuan.DMCoQuan>(StrThongTinCoQuan);

    ViewData["Title"] = "Đánh giá website " + " | " + ItemCoQuan.Title;
}
<div class="row">
    <div class="col-lg-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-3 col-12">
        <div class="card mb-4">
            <img class="card-img-top" src="/images/reviews.jpg" alt="@ViewData["Title"]">
            <div class="card-body">
                <h5 class="card-title"><strong>Đánh giá trang thông tin</strong> </h5>
                <p class="card-text small-f1">Gửi ý kiến, đánh giá của bạn về trang thông tin điện tử..</p>

            </div>

        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-12">
        <div class="white-box mb-4">
            <div asp-validation-summary="All" class="text-danger"></div>
            <partial name="_PartialMsgInfo" />
            <form asp-controller="@ControllerName" asp-action="Index" method="post">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label asp-for="Item.FullName">Họ Tên <sup class="text-danger"> (*)</sup></label>
                            <input type="text" class="form-control" asp-for="Item.FullName" name="FullName">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label asp-for="Item.Star">Số điểm</label>
                            <select asp-for="Item.Star" name="Star" class="form-control" asp-items="Model.ListStar"></select>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label asp-for="Item.Title">Tiêu đề <sup class="text-danger"> (*)</sup></label>
                    <input type="text" asp-for="Item.Title" name="Title" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Item.Introtext">Nội dung <sup class="text-danger"> (*)</sup></label>
                    <textarea asp-for="Item.Introtext" name="Introtext" class="form-control"></textarea>
                </div>
                <div class="row">

                    <div class="col-lg-12 col-12 text-center">
                        <button type="submit" class="btn btn-primary btn-sm" name="SaveItem"><i class="far fa-paper-plane"></i> Gửi đánh giá</button>
                        <a class="btn btn-info btn-sm" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Trang Chủ</a>
                    </div>
                </div>


                <input type="hidden" class="form-control" asp-for="Item.Id" name="Id">
                <input type="hidden" class="form-control" asp-for="Item.Ids" name="Ids">

            </form>
        </div>

    </div>
</div>

