$color-main: #e04d58;
$color-main-2: #fce38f;
$bg-main: #eee;
$bg-image: '../images/bg.jpg';
$bg-footer: #fcd17b;
$bg-footer-image: '../images/bg-fotter.png';
$bg-menu: #e04d58;
$color-menu: #fff;
$bg-header-cat: #e04d58;
$color-header-cat: #fff;
$bg-menu-mobile: #fff;
$bg-menu-mobile: #fff;
$icon-header: '../images/title-icon.png';
$bg-menu-footer: #e04d58;
$bg-menu-footer-border: #ffc268;
$bg-menu-footer-border-right: #e4646e;
$thongbao-tieudeh1: #e04d58;
$thongkevanban-tieudeh1: #e04d58;
$bg-stellarnav-mobile: #c05100;
$bg-emc: #EC3237;