@{ 

}
<iframe src="http://ioc.daklak.gov.vn/Ioc/HanhChinhCong" width="100%" height="450px" title="Test Iframe"></iframe>

<h1>IOC</h1>

<iframe src="https://dlk.iocvnpt.com/Admin/Dashboard" width="100%" height="450px" title="Test 2"></iframe>

<h1>Xác thực</h1>

<iframe src="https://xacthuc.daklak.gov.vn/authenticationendpoint/login.do?client_id=dwLX6ECZsrZcQKmycNh7PNpHNzIa&commonAuthCallerPath=%2Foauth2%2Fauthorize&forceAuth=false&passiveAuth=false&redirect_uri=http%3A%2F%2Fioc.daklak.gov.vn&response_type=code&scope=openid+profile+email&state=3193025_2242e0d983b41ee36074e94b8c39764c47910771d2e9b163a79a58296bb8c654&tenantDomain=carbon.super&sessionDataKey=5fd5fe26-7714-4b4a-ab02-c56862a25501&relyingParty=dwLX6ECZsrZcQKmycNh7PNpHNzIa&type=oidc&sp=IOC&isSaaSApp=false&authenticators=BasicAuthenticator%3ALOCAL" width="100%" height="450px" title="Test 2"></iframe>

<iframe src="https://tuongtaccongdan.daklak.gov.vn/gui-phan-anh-iframe.html?nid=409&lvid=622" title="W3Schools Free Online Web Tutorials"></iframe>